*{
    margin:0px;
    font-family: "inter";
}

#MenuSuperior{
    background-image: url(img/fundo-menu-superior.svg);
    color: aliceblue;
}
#logo{
    margin-top: 50px;
   margin-left: 50px;
}
#TituloMenuSuperior{
    margin-left: 150px ;
    margin-top: 55px;
}
#TextoMenuSuperior{
    margin-left: 150px;    
    margin-top: 35px;
    padding-bottom: 100px;
}
#menu-infor{
    background-color:#EAECE5 ;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}
.textInfor{
   display: flex;
   align-items: center;
}
#secaoVideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#Video{
    margin: 50px 25px 50px 100px;
}
#tituloVideo{
    margin-top: 50px;
    color: #247BA0 ;
    font-family: inter;
}
#Carrosel{
    background-color: #247BA0;
    padding: 50px ;
}
#tituloCarrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}
#cards{
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-top: 25px;
    margin-left: 50px;
}
#setaesquerda{
    display: none;
}
#Bruna{
    display: none;
}
.setas{
    margin-top: 90%;
    cursor: pointer;
}
.setas:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
#formulario{
        text-align: center;

}
#tituloFormulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
    font-family: "inter";
}
input{
    margin: 13px;
    background-color:#EAECE5;
    Width: 413px;
    Height: 40px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
}
button{
    background-color: #247BA0 ;
    width: 340px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;

}
button:hover{
    background-color: #2e93be;
    color: white;
    transform: translateY(-7px);
    transition-duration: 1s;
    box-shadow: 0px 15px 20px #0632445e ;
}